<section class="container">
  <div class="text-center m-4">
    <h1 class="text-dark text-shadow fw-bold">Homes For Sale</h1>
  </div>

  <sub-section class="row">
    <form action="">

      <div class="col-4 form-floating mb-3">
        <input type="text">
      </div>
      <div class="col-4 form-floating mb-3">
        <input type="number">
      </div>
      <div class="col-4 form-floating mb-3">
        <input type="number">
      </div>
      <div class="col-5 form-floating mb-3">
        <input type="text">
      </div>
      <div class="col-5 form-floating mb-3">
        <input type="text">
      </div>
      <div class="col-12 form-floating mb-3"><Button type="submit" class="btn btn-outline-primary">Submit</Button></div>

    </form>
  </sub-section>

</section>